**/camel-k-example-basic-quarkus-on-prem
**/camel-k-example-basic-quarkus-on-ocp
**/camel-k-example-jms-sink-on-ocp
**/camel-k-example-jms-source-on-ocp
**/camel-k-example-jdbc-quarkus-on-ocp
**/.camel-jbang
